[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/vim-ruby-debugger"]
	path = vim/bundle/vim-ruby-debugger
	url = https://github.com/astashov/vim-ruby-debugger.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
